[mol_theme], :root {
	background-color: var(--mol_theme_back);
	color: var(--mol_theme_text);
	fill: var(--mol_theme_text);
}

[mol_theme="$mol_theme_light"], :root {
	--mol_theme_back: #fcfcfc;
	--mol_theme_hover: rgba( 0 , 0 , 0 , .05 );
	--mol_theme_current: hsl( 210 , 100% , 80% );
	--mol_theme_text: rgba( 0 , 0 , 0 , .9 );
	--mol_theme_control: hsla( 210 , 60% , 40% , 1 );
	--mol_theme_shade: rgba( 0 , 0 , 0 , .5 );
	--mol_theme_line: rgba( 230 , 230 , 230 , 1 );
	--mol_theme_focus: hsla( 0 , 60% , 50% , 0.75 );
	--mol_theme_field: white;
}

[mol_theme="$mol_theme_dark"] {
	--mol_theme_back: #0b1b28;
	--mol_theme_hover: #333;
	--mol_theme_current: hsl( 210 , 100% , 20% );
	--mol_theme_text: rgba( 255 , 255 , 255 , .9 );
	--mol_theme_control: hsla( 210 , 60% , 60% , 1 );
	--mol_theme_shade: rgba( 255 , 255 , 255 , .5 );
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_focus: rgba( 204 , 68 , 50 , .75 );
	--mol_theme_field: black;
}

[mol_theme="$mol_theme_base"] {
	--mol_theme_back: hsla( 210 , 60% , 50% , 1 );
	--mol_theme_hover: rgba( 0 , 0 , 0 , .05 );
	--mol_theme_current: hsl( 210 , 100% , 20% );
	--mol_theme_text: white;
	--mol_theme_line: white;
	--mol_theme_control: white;
}

[mol_theme="$mol_theme_accent"] {
	--mol_theme_back: rgb(204, 68, 50);
	--mol_theme_hover: rgb(165, 56, 42);
	--mol_theme_text: white;
	--mol_theme_line: rgba( 50 , 50 , 50 , 1 );
	--mol_theme_control: white;
}

:root {
	--mol_skin_font: 1rem/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	--mol_skin_font_monospace: "Lucida Console", Monaco, monospace;
}

/* Deprecated, use mol_theme instead */

:root {

	--mol_skin_outline: 0 0 0 1px var(--mol_theme_line);
	
	--mol_skin_base: #3a8ccb;
	--mol_skin_base_text: white;
	
	--mol_skin_current: #3a8ccb;
	
	--mol_skin_current: var(--mol_skin_base);
	--mol_skin_current_text: white;
	--mol_skin_current_line: #1471b8;
	
	--mol_skin_button: var(--mol_theme_back);
	
	--mol_skin_button: var(--mol_skin_card);
	--mol_skin_hover: rgba( 0 , 0 , 0 , .05 );
	
	--mol_skin_round: 2px;
	
	--mol_skin_focus_line: rgba( 0 , 0 , 0 , .2 );
	--mol_skin_focus_outline: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	--mol_skin_focus_outline: 0 0 0 1px var(--mol_skin_focus_line);
	
	--mol_skin_float: 0 0 0 1px rgba( 0 , 0 , 0 , .2 );
	
	--mol_skin_float: var(--mol_skin_focus_outline);

	--mol_skin_passive: #eee;
	--mol_skin_passive_text: rgba( 0 , 0 , 0 , .5 );
	
	--mol_skin_light: #fcfcfc;
	--mol_skin_light_line: rgba( 230 , 230 , 230 , .75 );
	--mol_skin_light_text: rgba( 0 , 0 , 0 , .9 );
	--mol_skin_light_hover: #f7f7f7;
	--mol_skin_light_outline: 0 0 0 1px var(--mol_theme_line);

	--mol_skin_card: var(--mol_theme_back);
	--mol_skin_card_text: var(--mol_theme_text);
	
	--mol_skin_accent: #dd0e3e;
	--mol_skin_accent_text: white;
	--mol_skin_accent_hover: #c50d37;

	--mol_skin_warn: rgba( 255 , 50 , 50 , 0.75 );
	--mol_skin_warn_text: white;
	--mol_skin_warn_hover: rgba(255, 26, 26, 0.75);
	--mol_skin_warn_hover: color( var(--mol_skin_warn) lightness(-5%) );

	--mol_skin_good: #96DAA9;
	--mol_skin_good_text: black;

	--mol_skin_bad: #CC5252;
	--mol_skin_bad_text: white;
}

[mol_view] {
	transition-property: background-color, height, width, min-height, min-width, max-width, max-height, transform;
	transition-duration: .15s;
	transition-timing-function: ease-out;
	-webkit-appearance: none;
	word-break: break-word;
}

[mol_view] > * {
	word-break: inherit;
}

[mol_view_root] {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font: 1rem/1.5 "-apple-system", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font: var(--mol_skin_font);
	background: var(--mol_theme_back);
	color: var(--mol_theme_text);
}

[mol_view][mol_view_error]:not([mol_view_error="$mol_atom_wait"]) {
	background-image: repeating-linear-gradient(
		135deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	);
	background-size: 28px 28px;
	color: black;
}

[mol_view][mol_view_error] * {
	background: none;
}

@keyframes mol_view_wait_show {
	from {
		background: none;
	}
}

@keyframes mol_view_wait_move {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -28px 0;
	}
}

[mol_view][mol_view_error="$mol_atom_wait"] {
		background-image: repeating-linear-gradient(
		45deg,
		rgba( 0 , 0 , 0 , .02 ),
		rgba( 0 , 0 , 0 , .02 ) 9px,
		rgba(255,255,255,.015) 10px,
		rgba(255,255,255,.015) 20px
	);
	background-size: 28px 28px;
	animation: mol_view_wait_show .5s ease-in , mol_view_wait_move .25s steps(6) infinite;
}

[mol_view][mol_view_error="$mol_atom_wait"] * {
		background: none;
}

[mol_theme] {
  --bw-light-font-weight-light: 300;
  --bw-light-font-weight-dark: 100;

  --bw-regular-font-weight-light: 400;
  --bw-regular-font-weight-dark: 300;
}

/* ========================================================================== */

/* ========================================================================== */

/*

This file is best viewed with plugin'Syntax Highlighting for PostCSS' (if Sublime 3)
PostCSS plugins:

  postcss-color-function
  postcss-custom-properties
  postcss-nested
  postcss-nested-ancestors

see details in ../package.json:

orinial (not working for 'postcss-nested'):
    "postcss": "^5.2.18",
    "postcss-color-function": "^4.0.1",
    "postcss-custom-properties": "^7.0.0",
    "postcss-nested": "^4.1.1",
    "postcss-nested-ancestors": "^2.0.0",

updated (is working for 'postcss-nested' ans 'postcss-nested-ancestors'):
    "postcss": "^7.0.14",
    "postcss-color-function": "^4.0.1",
    "postcss-custom-properties": "^7.0.0",
    "postcss-nested": "^4.1.1",
    "postcss-nested-ancestors": "^2.0.0",

*/

/* ========================================================================= */

/* ========================================================================= */

/* ========================================================================== */

/* ========================================================================== */

/* https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500 */

/* cyrillic-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxFIzIXKMnyrYk.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxFIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxMIzIXKMnyrYk.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxMIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxEIzIXKMnyrYk.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxEIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxLIzIXKMnyrYk.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxLIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

/* vietnamese */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxHIzIXKMnyrYk.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxHIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxGIzIXKMnyrYk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 100;
  /*src: local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzIXKMny.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 300;
  /*src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 300;
  /* src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fABc4AMP6lbBP.woff2) format('woff2'); */
  src: url(../font/Roboto-Light-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 300;
  /*src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 300;
  /* src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2) format('woff2'); */
  src: url(../font/Roboto-Light-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 400;
  /*src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

/*src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2) format('woff2');*/

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 400;
  /*src: local('Roboto'), local('Roboto-Regular'), url(../font/Roboto-Regular-cyrillic.woff2) format('woff2');*/
  src: url(../font/Roboto-Regular-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 400;
  /*src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

/*src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');*/

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 400;
  /*src: local('Roboto'), local('Roboto-Regular'), url(../font/Roboto-Regular-latin.woff2) format('woff2');*/
  src: url(../font/Roboto-Regular-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 500;
  /*src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

/*src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2) format('woff2');*/

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 500;
  /*src: local('Roboto Medium'), local('Roboto-Medium'), url(../font/Roboto-Medium-cyrillic.woff2) format('woff2');*/
  src: url(../font/Roboto-Medium-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 500;
  /*src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');*/
  src: url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: 'BwRoboto';
  font-style: normal;
  font-weight: 500;
  /* src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2) format('woff2'); */
  src: url(../font/Roboto-Medium-latin.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*# sourceMappingURL=web.css.map */